.App {
  margin: 2em 5%;
  max-width: 800px;
}

.appContainer {
  margin-top: 1em;
  border: 1px solid lightgreen;
  border-radius: 0.5em;
  padding: 1em;
  display: inline-block;
  background-color: beige;
  /* Set width to some fair value to prevent the width from expanding when component is hidden */
  width: 350px;
}

.checkboxContainer {
  margin-bottom: 2em;
}

.checkboxContainer input {
  margin-left: 2em;
}

.chosenContainer {
  display: inline;
  margin-left: 3em;
}

.componentContainer {
  width: 80%;
  padding: 2em;
  border: 1px solid lightgray;
  border-radius: 1em;
  background-color: lightgreen;
  text-align: left;
}

p {
  margin: 1em auto;
}

span {
  font-size: 0.9em;
}

button {
  margin-bottom: 2em;
  padding: 0.6em 1em;
  border-radius: 1em;
  background-color: aqua;
  font-size: 0.7em;
  outline: none;
}

.componentContainer button {
  display: block;
  margin: 0 auto 2em auto;
}

li {
  font-size: 0.8em;
}

li + li {
  margin-top: 0.9em;
}