.App {
  /*margin: 2em auto;*/
  margin: 2em 5%;
  /*width: 60%;*/
  /*text-align: center;*/
}

.checkboxContainer {
  margin-bottom: 2em;
}

.checkboxContainer input {
  margin-left: 2em;
}

.chosenContainer {
  display: inline;
  margin-left: 3em;
}

.componentContainer {
  width: 40%;
  /*margin: auto;*/
  padding: 2em;
  border: 1px solid lightgray;
  border-radius: 1em;
  background-color: lightgreen;
  text-align: left;
}

p {
  margin: 1em auto;
}

span {
  font-size: 0.9em;
}

button {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.6em 1em;
  border-radius: 1em;
  background-color: aqua;
  font-size: 0.7em;
  outline: none;
}

.componentContainer button {
  /*margin-top: 0;*/
  display: block;
  margin: 0 auto 2em auto;
}

li {
  font-size: 0.8em;
}

li + li {
  margin-top: 0.9em;
}